/* layout.css */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .link {
    color: white;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .main {
    flex-grow: 1;
  }

.logo {
  height: 70px; /* Set the height to be smaller */
  width: auto;  /* Maintain aspect ratio */
  margin-right: 20px; /* Space between logo and nav */
}
